.card {
    display: flex;
    height: 150px;
    flex-direction: column;
    width: 300px;
    background-color: red;
    background-image: url('https://i.pinimg.com/736x/2b/46/7f/2b467f91bf57a97a8921940309751d27.jpg');
    border-radius: 20px;
    border: grey solid .01px;
    color: rgb(51, 51, 88);
    padding: 10px;

}

@media screen and (max-width: 480px) {
.card{
    width: 350px;
}
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.grid-top {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    flex-direction: column;
 
    text-align: center;
}

h2,
h4 {
    margin-top: 0px;
}

h5 {

    margin: -22px;


}

.user-btns {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.small-text {
    font-size: 12px;
    line-height: 3ch;
}

.user-name {
    font-size: 16px;
}

.user-role {
    margin-top: -7px;
    font-size: 12px;
}

.icon-based {
    display: flex;

}

img {
    margin: 0;
    height: 15px;
    width: 15px;
}