 table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   font-size: 12px;
   line-height: 3ch;
   color: black;
 }

 td,
 th {
   border: 1px solid #221e1e;
   text-align: left;
   padding: 10px;
   
 }

 tr:nth-child(even) {
   background-color: #dddddd;
   margin-top: 10px;
 }

 .delBtn {
   background-color: red;
   border: 0;
   padding: 7px 10px;
   border-radius: 10px;
   cursor: pointer;
 }

 .editBtn {
   background-color: rgb(112, 185, 231);
   border: 0;
   padding: 7px 10px;
   border-radius: 10px;
   cursor: pointer;
 }