 /* table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   font-size: 12px;
   line-height: 3ch;
   color: black;
 }

 td,
 th {
   border: 1px solid #221e1e;
   text-align: left;
   padding: 10px;
   
 }

 tr:nth-child(even) {
   background-color: #dddddd;
   margin-top: 10px;
*/ .header {
    display: flex;
    flex-direction: column;
justify-content: center;
    margin: 0 ;
    text-align: center;
      /* background-color: antiquewhite; */
  }

 
.site-details {
  line-height: 2.5ch;
  margin: 10px;
} 
.site-name {
  line-height: 3ch;
  margin: 0 auto;
    color: green;
}
 .delBtn {
  background-color: rgb(243, 141, 141);
   border: 0;
  width: 60px;
    height: 30px;
   border-radius: 10px;
  margin: 5px 0;
   cursor: pointer;
  text-align: center;
 }

 .editBtn {
  background-color: rgb(79, 243, 139);
  border: 0;
  width: 60px;
    height: 30px;
   border-radius: 10px;
    margin: 5px 0;
   cursor: pointer;
  text-align: center;
 }
 .data {
   display: flex;
   flex-direction: column;
   margin: 10px 5px;
  border: solid 1px;
   border-radius: 20px;
   line-height: 3ch;
  width: 250px;
  flex-wrap: wrap;
   align-items: flex-start;
   padding: 20px;
  }

 @media screen and (max-width: 480px) {
   .data {
     width: 100%;
    
   }
   .item{
    flex-direction: row;
   }
  
  
 }

 .buttons {
   display: flex;
   justify-content: space-evenly;
   border-radius: 20px;
   width: 100%;
   font-weight: 500;

 }



 p {
  margin: 0 5px;
 }

 .home {
  padding-top: 20px;
    padding-bottom: 10~~0px;
   display: flex;
   flex-wrap: wrap;
gap: 5px;
 justify-content: center;
background-color: rgb(240, 235, 235);
 }
 a{
  text-decoration: none;
  color: inherit;
 }

 .item {
   display: flex;
  flex-direction: column;
   margin: 5px 0;
 }

 img {
   margin: 0 10px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
 }
 .fab{
  position:fixed;
  z-index: +1;
  bottom: 20px;
  right: 2px;
 }
 .fab-no-user{
  display: flex;
 
 justify-content: center;
 }

 form{
  display: flex;
  flex-direction: column;
  gap:20px;
 }
 .scroll-img {

   height: 100px;
   width: 100px;
   margin: 20px auto;
 }